{% extends 'base.html' %}

{% block script %}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript">
    var menu = [];
    $(document).ready(function(request, response){
      $.ajax({
        url: "/auto",
        type: "POST",
        dataType: "json",
        success: function(res){
          for(var i=0;i<res.length;i++){
            menu.push(res[i]);
          }
        }
      });
    });

    $(function(){
      $(".menu").autocomplete({
        source: menu,
        select: function(event, ui){
          console.log(ui.item);
        },

        focus: function(event, ui){
          return false;
        }
      });
    });

    function predict(){
      var name_arr = [];
      var supply_arr = [];
      for(var i=1;i<6;i++){
        var name = document.getElementsByName("menu"+i)[0];
        var supply = document.getElementsByName("supply"+i)[0];
      
        if(!menu.includes(name.value) || supply.value=="" || supply.value<0){
          alert("등록되지 않은 메뉴 혹은 유효하지 않은 메뉴값이 입력되었습니다.");
          if(!menu.includes(name.value))
            name.focus();
          else
            supply.focus();

          return false;
        }

        name_arr.push(name.value);
        supply_arr.push(supply.value);
      }
      
      $.ajax({
        url : '/predict',
        type : 'POST',
        data : {'name' : JSON.stringify(name_arr) , 
                'supply' : JSON.stringify(supply_arr)},
        success : function(res){
          $("#result").html("예측된 잔반량은 " + res + " 입니다.");
        }
      });
    }
    
  </script>
{% endblock %}


{% block nav_style %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
{% endblock%}

{% block nav_predict %}
active
{% endblock %}

{% block container %}
  <!--Main layout-->
  <main>
      <hr class="my-5">

      <!--Section: Main features & Quick Start-->
      <section>

        <h3 class="h3 text-center mb-5" style="font-family: 'Nanum Barun Gothic'">잔반량 예측</h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-5">

            <form action="/predict" id="fr" method="post">
                <div class="row px-3 pb-1">
                    <span style="font-family: 'Nanum Barun Gothic'">찾으시는 메뉴가 없다면, 직접 메뉴를&nbsp</span>
                    <a href="/addmenu" style="font-family: 'Nanum Barun Gothic'">추가</a>
                    <span style="font-family: 'Nanum Barun Gothic'">해보세요.</span>
                </div>
              <!-- Default form group -->
                  <div class="p-3 border bg-light">
                      <!-- Default input -->
                      <div class="form-group">
                          <label style="font-family: 'Nanum Barun Gothic'" for="formGroupExampleInput">메뉴1</label>
                          <div class="row">
                              <div class="col-md-6"><input type="text" class= "form-control menu" name="menu1" placeholder="메뉴1"></div>
                              <div class="col-md-6"><input type="number" class= "form-control" name="supply1" placeholder="권장 배식량(g)"></div>
                          </div>
                      </div>
                      <!-- Default input -->
                      <div class="form-group">
                          <label style="font-family: 'Nanum Barun Gothic'" for="formGroupExampleInput">메뉴2</label>
                          <div class="row">
                              <div class="col-md-6"><input type="text" class= "form-control menu" name="menu2" placeholder="메뉴2"></div>
                              <div class="col-md-6"><input type="number" class= "form-control" name="supply2" placeholder="권장 배식량(g)"></div>
                          </div>
                      </div>
                      <!-- Default input -->
                      <div class="form-group">
                          <label style="font-family: 'Nanum Barun Gothic'" for="formGroupExampleInput">메뉴3</label>
                          <div class="row">
                              <div class="col-md-6"><input type="text" class= "form-control menu" name="menu3" placeholder="메뉴3"></div>
                              <div class="col-md-6"><input type="number" class= "form-control" name="supply3" placeholder="권장 배식량(g)"></div>
                          </div>
                      </div>
                      <!-- Default input -->
                      <div class="form-group">
                          <label style="font-family: 'Nanum Barun Gothic'" for="formGroupExampleInput">메뉴4</label>
                          <div class="row">
                              <div class="col-md-6"><input type="text" class= "form-control menu" name="menu4" placeholder="메뉴4"></div>
                              <div class="col-md-6"><input type="number" class= "form-control" name="supply4" placeholder="권장 배식량(g)"></div>
                          </div>
                      </div>

                      <div class="form-group">
                          <label style="font-family: 'Nanum Barun Gothic'" for="formGroupExampleInput">메뉴5</label>
                          <div class="row">
                              <div class="col-md-6"><input type="text" class= "form-control menu" name="menu5" placeholder="메뉴5"></div>
                              <div class="col-md-6"><input type="number" class= "form-control" name="supply5" placeholder="권장 배식량(g)"></div>
                          </div>
                      </div>
                  </div>
                <button style="font-family: 'Nanum Barun Gothic'; font-size: 16px;" type="button" class="btn btn-primary btn-md pull-right" onclick="predict()">예측하기</button>
            </form>

          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12">
            <div>
                <p class="h5 text-center mb-4" style="font-family: 'Nanum Barun Gothic'">예측 결과</p>
                  <h5 class="text-center mt-3">
                      <div id="result">
                      </div>
                  </h5>
            </div>
          </div>
          <!--/Grid column-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->

  </main>
  <!--Main layout-->
{% endblock %}