{% extends 'base.html' %}

{% block script %}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript">
    var menu = [];
    $(document).ready(function(request, response){
      $.ajax({
        url: "/auto",
        type: "POST",
        dataType: "json",
        success: function(res){
          for(var i=0;i<res.length;i++){
            menu.push(res[i]);
          }
        }
      });
    });

    $(function(){
      $(".menu").autocomplete({
        source: menu,
        select: function(event, ui){
          console.log(ui.item);
        },

        focus: function(event, ui){
          return false;
        }
      });
    });

    function predict(){
      var name_arr = [];
      var supply_arr = [];
      for(var i=1;i<6;i++){
        var name = document.getElementsByName("menu"+i)[0];
        var supply = document.getElementsByName("supply"+i)[0];
      
        if(!menu.includes(name.value) || supply.value=="" || supply.value<0){
          alert("등록되지 않은 메뉴 혹은 유효하지 않은 메뉴값이 입력되었습니다.");
          if(!menu.includes(name.value))
            name.focus();
          else
            supply.focus();

          return false;
        }

        name_arr.push(name.value);
        supply_arr.push(supply.value);
      }
      
      $.ajax({
        url : '/predict',
        type : 'POST',
        data : {'name' : JSON.stringify(name_arr) , 
                'supply' : JSON.stringify(supply_arr)},
        success : function(res){
          $("#result").html("예측된 잔반량은 " + res + " 입니다.");
        }
      });
    }
    
  </script>
{% endblock %}


{% block nav_style %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
{% endblock%}


{% block container %}
  <!--Main layout-->
  <main>
      <hr class="my-5">

      <!--Section: Main features & Quick Start-->
      <section>

        <h3 class="h3 text-center mb-5" style="font-family: 'Nanum Barun Gothic'">미래 데이터 예측해보기</h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">

            <form action="/predict" id="fr" method="post">
              <!-- Default form group -->

                  <!-- Default input -->
                  <div class="form-group">
                      <label style="font-family: 'Nanum Barun Gothic'" for="formGroupExampleInput">메뉴1</label>
                      <br>
                      <input type="text" class= "menu" name="menu1" placeholder="메뉴1">&nbsp;
                      <input type="number" name="supply1" placeholder="권장 배식량(g)">
                  </div>
                  <!-- Default input -->
                  <div class="form-group">
                      <label style="font-family: 'Nanum Barun Gothic'" for="formGroupExampleInput">메뉴2</label>
                      <br>
                      <input type="text" class= "menu" name="menu2" placeholder="메뉴2">&nbsp;
                      <input type="number" name="supply2" placeholder="권장 배식량(g)">
                  </div>
                  <!-- Default input -->
                  <div class="form-group">
                      <label style="font-family: 'Nanum Barun Gothic'" for="formGroupExampleInput">메뉴3</label>
                      <br>
                      <input type="text" class= "menu" name="menu3" placeholder="메뉴3">&nbsp;
                      <input type="number" name="supply3" placeholder="권장 배식량(g)">
                  </div>
                  <!-- Default input -->
                  <div class="form-group">
                      <label style="font-family: 'Nanum Barun Gothic'" for="formGroupExampleInput">메뉴4</label>
                      <br>
                      <input type="text" class= "menu" name="menu4" placeholder="메뉴4">&nbsp;
                      <input type="number" name="supply4" placeholder="권장 배식량(g)">
                  </div>
              
                  <div class="form-group">
                      <label style="font-family: 'Nanum Barun Gothic'" for="formGroupExampleInput">메뉴5</label>
                      <br>
                      <input type="text" class= "menu" name="menu5" placeholder="메뉴5">&nbsp;
                      <input type="number" name="supply5" placeholder="권장 배식량(g)">
                  </div>
              <button style="font-family: 'Nanum Barun Gothic' !important;" type="button" class="btn btn-primary btn-md pull-right" onclick="predict()">예측하기</button>

            </form>

          </div>

          <!--Grid column-->
          <div class="col-lg-6 col-md-12">

            <p class="h5 text-center mb-4" style="font-family: 'Nanum Barun Gothic'">예측 결과</p>
              <h5 class="text-center mt-3">
                  <div id="result">
                  </div>
              </h5>
            
          </div>
          <!--/Grid column-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->

    </div>
  </main>
  <!--Main layout-->
{% endblock %}